body {
  background-color: white;
  color: black;
  font-family: "Arial";
}

button {
  font-family: "Arial";
  background-color: white;
  color: black;
  border: 1px solid black
}

button:hover {
  background-color: black;
  color: black;
}

.myDiv {
  border: 5px ridge black;
  background-color: white;    
  text-align: center;
  list-style-position: inside;
  margin: auto;
  margin-top: 100px;
  width: 75%;
}

.dark-mode {
  background-color: black;
  color: white;
  button {
    background-color: black;
    color: white;
    border: 1px solid white
  }
  button:hover {
    background-color: white;
    color: black;
  }
  a:link {
  color: #07A3FD;
  }
  a:visited {
  color: #C80AFE;
  }
  .myDiv {
    border: 5px solid white;
    background-color: black;    
  }
}
