body {
  background-color: black;
  color: white;
  font-family: "Arial";
}

button {
  font-family: "Arial";
  background-color: white;
  color: black;
}

.light-mode {
  background-color: white;
  color: black;
}
