body {
  background-color: white;
  color: black;
  font-family: "Arial";
}

button {
  font-family: "Arial";
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
  a:link {
  color: #07A3FD;
  }
  a:visited {
  color: #C80AFE;
  }
}
